

body
{
    background-color: rgba(211, 205, 198, 0.747);
    padding: 0%;
    margin: 0%;
}

.background
{
    position: relative;
 display: -webkit-box;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
min-height: 300px;
color: #fff;
text-align: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
background-color: #999;
background-position: bottom;
background-size: cover;
padding-left: 20px;
padding-right: 20px;
}

*
{
    font-family: "Poppins", sans-serif; 
}

h5{
    font-size: 150%
}  
  div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
  }
  
  .table-title h3 {
     color: black;
     font-size: 150%;
     
  }
  
  

  